html {
    position: relative;
}

body {
    margin-bottom: 100px;
}

.jumbotron img {
    width: 200px;
    height: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 5px solid #999;
}

section {
    min-height: 600px;
}

.portofolio {
    background-color: #eee;
}

footer {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #343a40;
    bottom: 0;
}


footer p{
    padding-top: 15px;
    color: red;
    font-size: 0.9em;
}

.contact {
    margin-top: 50px;
    min-height: 800px;
}



